!!! 5
html(lang="en", class="no-js")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

        title Full Stack Application
        meta(name="description", content="This is a full stack application boilerplate")

        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="styles/main.css")

    body
        h1 Welcome!
